body {
    font-family: Helvetica;
    background: gray;
}

h1, h2 {
    text-align: center;
}

h2 {
	color: red;
	margin: 0;
	padding: 0;
	font-size: 14pt;
}

h1#banner {
    background: #EEE;
    width: 100%;
    height: 68px;
    line-height: 68px;
    vertical-align: middle;
    margin: 20px 0 10px 0;
    padding: auto 0 auto 0;
    font-size: 18pt;
}

h1#logo {
    background-image: url('images/efm_banner_final.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px;
    width: 350px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 30px;
}

h3.no-results {
    text-align: center;
}

#wrapper {
  display: block;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

#wrapper-2 {
  display: block;
  font-family: Helvetica;
  background: #fff;
  margin: 10px 10px;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

#wrapper-2 h1, #wrapper-2 h2 {
  color: black;
  text-align: left;
}

table {
  margin: 0 auto;
  font-size: 1em;
  margin-bottom: 15px;
  border-collapse: collapse;
}


table thead {
  cursor: pointer;
  background: #c9dff0;
}

table thead tr th {
  font-weight: bold;
  font-size: 1.2em;
  padding: 12px 20px;
 }

#mytable thead tr th {
  padding-left: 32px;
}
#mytable thead tr th span {
  padding-right: 30px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 20px;
}

#mytable thead tr th.headerSortUp, #mytable thead tr th.headerSortDown {
  background: #acc8dd;
}

#mytable thead tr th.headerSortUp span {
  background-image: url('images/up.png');
}

#mytable thead tr th.headerSortDown span {
  background-image: url('images/down.png');
}


table tbody tr {
  color: #555;
}

table tbody tr:hover {
    cursor: pointer;
    background-color: #EEE;
}

table tbody tr td {
  text-align: center;
  padding: 10px 5px;
  border-bottom: 1px solid lightgray;
}

#mytable tbody tr td.location {
    text-align: left;
}

table#summary, table#summary th, table#summary tr, table#summary td {
    font-size: 11pt;
    padding: 5px;
    margin: 0 auto;
}

table#summary tbody tr:hover {
    cursor: auto;
    background-color: #ffffff;
}

table#summary tr, table#summary th {
    border-bottom: 1px solid gray;
}

th#summary-head {
    background-color: #EEEEEE;
}

#csv-button {
    position: absolute;
    font-size: 10pt;
    top: 64px;
    right: 35px;
    vertical-align: middle;
}

#csv-button div {
	display: inline-block;
}


#csv-button a {
	color: white;
	background: black;
	margin: 5px;
	padding: 10px;
}

#csv-button a:hover {
	background: darkgreen;
}

p.note {
	margin: 0 auto 30px;
	text-align: center;
	font-size: 10pt;
	color: darkgray;
}

textarea {
	width: 100%;
}

div.footer {
	font-size: 10pt;
	text-align: center;
    margin: 10px;
}

label {
    display: block;
    background-color: #EEEEEE;
    font-weight: bold;
    padding: 5px;
    margin: 5px 0;
}

.helptext {
    vertical-align: middle;
}

#submit {
    background-color: green;
    color: white;
    font-weight: bold;
    margin: 5px 0;
    padding: 10px;
    font-size: 12pt;
    border: none;
    cursor: pointer;
}

#submit:hover {
    background-color: darkgreen;
}

.errorlist {
    font-weight: bold;
    color: red;
}

